[submodule ".config/rofi-themes-collection"]
	path = .config/rofi-themes-collection
	url = https://github.com/lr-tech/rofi-themes-collection.git
[submodule ".local/share/sway-contrib"]
	path = .local/share/sway-contrib
	url = https://github.com/OctopusET/sway-contrib.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
